.profile__change-avatar {
  border: 0;
  box-shadow: none;
  background: none;
  cursor: pointer;
  background-image: url(../../../images/change_avatar.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s ease;
}

.profile__change-avatar:hover {
  opacity: 1;
  transition: all 0.3s ease;
  background-color: rgba(0, 0, 0, 0.8);
}