.popup__close {
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
  background: none;
  border: none;
  box-shadow: none;
  padding: 0;
  min-width: 32px;
  min-height: 32px;
  background-image: url(../../../../src/images/close_Icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: all 0.4s ease;
}

.popup__close:hover {
  opacity: 0.6;
  transition: all 0.4s ease;
}

@media screen and (max-width: 767px) {
  .popup__close {
    top: -36px;
    right: 0;
    min-width: 20px;
    min-height: 20px;
  }
}