@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/main/main.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__button/header__link.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__edit-area/profile__edit-area.css);
@import url(./blocks/profile/__top-line/profile__top-line.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__button/profile__button.css);
@import url(./blocks/profile/__button/_type/profile__button_type_add.css);
@import url(./blocks/profile/__button/_type/profile__button_type_edit.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/element/element.css);
@import url(./blocks/element/__zoom/element__zoom.css);
@import url(./blocks/element/__trash/element__trash.css);
@import url(./blocks/element/__caption/element__caption.css);
@import url(./blocks/element/__photo/element__photo.css);
@import url(./blocks/element/__title/element__title.css);
@import url(./blocks/element/__like/element__like.css);
@import url(./blocks/element/__like/_clicked/element__like_clicked.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copywrite/footer__copywrite.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__text/popup__text.css);
@import url(./blocks/popup/__submit/popup__submit.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/_type/_image/popup_type_image.css);
@import url(./blocks/popup/__container/_type/_image/popup__container_type_image.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__title/_type/_image/popup__title_type_image.css);
@import url(./blocks/popup/__text/_type/_error/popup__text_type_error.css);
@import url(./blocks/popup/__error/popup__error.css);
@import url(./blocks/element/__like-area/element__like-area.css);
@import url(./blocks/element/__likes-number/element__likes-number.css);
@import url(./blocks/profile/__change-avatar/profile__change-avatar.css);
@import url(./blocks/profile/__avatar-area/profile__avatar-area.css);
@import url(./blocks/login/login.css);
@import url(./blocks/login/__form/login__form.css);
@import url(./blocks/login/__submit/login__submit.css);
@import url(./blocks/login/__title/login__title.css);
@import url(./blocks/login/__input/login__input.css);
@import url(./blocks/register/register.css);
@import url(./blocks/register/__form/register__form.css);
@import url(./blocks/register/__input/register__input.css);
@import url(./blocks/register/__login-link/register__login-link.css);
@import url(./blocks/register/__submit/register__submit.css);
@import url(./blocks/register/__title/register__title.css);
