.popup__title {
  font-size: 24px;
  font-weight: 900;
  align-self: flex-start;
  margin: 0 0 54px 0;
}

@media screen and (max-width: 767px) {
  .popup__title {
    font-size: 18px;
    align-self: center;
    margin-bottom: 75px;
  }
}