.header {
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  padding: 45px 0 41px 0;
  max-width: 880px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 28px;
    padding-bottom: 32px;
  }
}