.header__link {
  color: #a9a9a9;
  font-size: 18px;
  line-height: 1.22;
  font-weight: 400;
  cursor: pointer;
  transition: 0.4s all ease;
  padding: 0;
  text-decoration: none;
  align-self: center;
}

.header__link:hover {
  transition: 0.4s all ease;
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .header__link {
    font-size: 14px;
    margin-right: 27px;
  }
}